<h3>{{#if user}}Update User - {{user.name}}{{else}}Create User{{/if}}</h3>

<div class="card">
    <div class="card-body">
        <form action="{{#if user}}/users/update{{else}}/users/add{{/if}}" method="POST">
            
            <input type="hidden" id="id" name="id" value="{{#if user}}{{user._id}}{{else}}{{/if}}">
            
            <label for="name">*Name:</label>
                <input type="text" id="name" name="name" 
                    placeholder="name"
                    class="form-control"
                    value="{{#if user}}{{user.name}}{{else}}{{/if}}"
                    autofocus required>

            <label for="email">*E-mail:</label>
                <input type="email" id="email" name="email" 
                    placeholder="Email" 
                    class="form-control"
                    value="{{#if user}}{{user.email}}{{else}}{{/if}}"
                required>

            <label for="password">*Password:</label>
                <input type="password" id="password" name="password" 
                    placeholder="Password" 
                    class="form-control" min="3"
                    value="{{#if user}}{{user.password}}{{else}}{{/if}}"
                required>

            <label for="confirmPassword">*Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" 
                    placeholder="Confirm Password" 
                    class="form-control" min="3"
                    value="{{#if user}}{{user.confirmPassword}}{{else}}{{/if}}"
                required>
            <br>
            <div class="text-left">
                <small style="color: red">* Required Fields</small>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-success">{{#if user}}Update{{else}}Create{{/if}}</button>
            </div>
        </form>
    </div>
</div>
{{>_goBackButton}}